*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}

.list{
    width: 100%;
    margin: 30px auto;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list li{
    display: inline-block;
    padding:20px;
    font-size: 22px;
    border: 1px solid #ccc;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    text-align: center;
}

.list li img{
    width:330px;
    height: 300px;
    object-fit: cover;
}
.content{
    margin-bottom: 20px;
    background-color: bisque;
    padding: 10px;
    font-size: 20px;
}

.total{
    display: flex;
}

.btn{
    text-align: center;
    padding: 10px;
    border:0;
    color: rgb(252, 252, 252);
    background-color: rgb(53, 120, 244);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.btn:hover{
    background-color: blue;
}

.result{
    width: 50%;
    margin: 10px ;
    font-size: 23px;
    color: blue;
    font-weight: bold;
}